<?xml version="1.0"?>
<robot name="exoskeleton_hand">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/BASE.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/BASE.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
    </inertial>
  </link>

  <link name="wrist_link">
    <visual>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/WRIST%20STARP.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/WRIST%20STARP.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="base_to_wrist" type="fixed">
    <parent link="base_link"/>
    <child link="wrist_link"/>
  </joint>

  <link name="thumb_phalanx1">
    <visual>
      <origin xyz="-0.001000 -0.000939 -0.000938"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.001000 -0.000939 -0.000938"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="thumb_phalanx2">
    <visual>
      <origin xyz="-0.038021 -0.059955 -0.134439"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.038021 -0.059955 -0.134439"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.038021 -0.059955 -0.134439"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.038021 -0.059955 -0.134439"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="thumb_phalanx3">
    <visual>
      <origin xyz="-0.035624 -0.045401 -0.167639"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.035624 -0.045401 -0.167639"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.035624 -0.045401 -0.167639"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.035624 -0.045401 -0.167639"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="thumb_phalanx4">
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048694 -0.040213 -0.182736"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a4.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048694 -0.040213 -0.182736"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a4.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048694 -0.040214 -0.182736"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a4.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048694 -0.040214 -0.182736"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/a4.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182739"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.048697 -0.040213 -0.182797"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.048697 -0.040213 -0.182797"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/thumb/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="wrist_to_thumb" type="fixed">
    <parent link="wrist_link"/>
    <child link="thumb_phalanx1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="thumb_joint1" type="revolute">
    <parent link="thumb_phalanx1"/>
    <child link="thumb_phalanx2"/>
    <origin xyz="0.037021 0.059016 0.133500" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
  </joint>

  <joint name="thumb_joint2" type="revolute">
    <parent link="thumb_phalanx2"/>
    <child link="thumb_phalanx3"/>
    <origin xyz="-0.002397 -0.014554 0.033200" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="thumb_joint1" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="thumb_joint3" type="revolute">
    <parent link="thumb_phalanx3"/>
    <child link="thumb_phalanx4"/>
    <origin xyz="0.013073 -0.005187 0.015100" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="thumb_joint1" multiplier="0.7" offset="0.0"/>
  </joint>

  <link name="index_phalanx1">
    <visual>
      <origin xyz="-0.001000 -0.001000 -0.001000"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%201.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.001000 -0.001000 -0.001000"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%201.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="index_phalanx2">
    <visual>
      <origin xyz="-0.069208 -0.108577 -0.153598"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%202.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.069208 -0.108577 -0.153598"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%202.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.069208 -0.108580 -0.153600"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%201.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.069208 -0.108580 -0.153600"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%201.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.069208 -0.108580 -0.153600"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%201.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.069208 -0.108580 -0.153600"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%201.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.069208 -0.108578 -0.153599"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%201.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.069208 -0.108578 -0.153599"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%201.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="index_phalanx3">
    <visual>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%203.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%203.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%203.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%203.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%202.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%202.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%202.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%202.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%202.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070559 -0.099905 -0.201400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%202.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="index_phalanx4">
    <visual>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%204.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%204.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%205.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%205.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%205.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/INDEX%205.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%203.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%203.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%204.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095897 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/finger%204.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%203.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%203.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.070526 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%203.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.070526 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/Index/support%203.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="wrist_to_index" type="fixed">
    <parent link="wrist_link"/>
    <child link="index_phalanx1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="index_joint1" type="revolute">
    <parent link="index_phalanx1"/>
    <child link="index_phalanx2"/>
    <origin xyz="0.068208 0.107580 0.152600" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
  </joint>

  <joint name="index_joint2" type="revolute">
    <parent link="index_phalanx2"/>
    <child link="index_phalanx3"/>
    <origin xyz="0.001351 -0.008674 0.047800" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="index_joint1" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="index_joint3" type="revolute">
    <parent link="index_phalanx3"/>
    <child link="index_phalanx4"/>
    <origin xyz="-0.000033 -0.004008 0.027000" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="index_joint1" multiplier="0.7" offset="0.0"/>
  </joint>

  <link name="finger2_phalanx1">
    <visual>
      <origin xyz="-0.000999 -0.001000 -0.000999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.000999 -0.001000 -0.000999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger2_phalanx2">
    <visual>
      <origin xyz="-0.091890 -0.123512 -0.116798"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.091890 -0.123512 -0.116798"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.091890 -0.123511 -0.116798"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.091890 -0.123511 -0.116798"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.091890 -0.123512 -0.116799"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.091890 -0.123512 -0.116799"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger2_phalanx3">
    <visual>
      <origin xyz="-0.096924 -0.099633 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.096924 -0.099633 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.096924 -0.099633 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.096924 -0.099633 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.096924 -0.099632 -0.200999"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger2_phalanx4">
    <visual>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095897 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095898 -0.228399"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.097993 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.097993 -0.095898 -0.228400"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%202/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="wrist_to_finger2" type="fixed">
    <parent link="wrist_link"/>
    <child link="finger2_phalanx1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="finger2_joint1" type="revolute">
    <parent link="finger2_phalanx1"/>
    <child link="finger2_phalanx2"/>
    <origin xyz="0.090891 0.122512 0.115800" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
  </joint>

  <joint name="finger2_joint2" type="revolute">
    <parent link="finger2_phalanx2"/>
    <child link="finger2_phalanx3"/>
    <origin xyz="0.005034 -0.023880 0.084200" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger2_joint1" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="finger2_joint3" type="revolute">
    <parent link="finger2_phalanx3"/>
    <child link="finger2_phalanx4"/>
    <origin xyz="0.001069 -0.003735 0.027400" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger2_joint1" multiplier="0.7" offset="0.0"/>
  </joint>

  <link name="finger3_phalanx1">
    <visual>
      <origin xyz="-0.000996 -0.001000 -0.000996"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.000996 -0.001000 -0.000996"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger3_phalanx2">
    <visual>
      <origin xyz="-0.125451 -0.123474 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125451 -0.123474 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125451 -0.123473 -0.128095"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125451 -0.123473 -0.128095"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125451 -0.123475 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125451 -0.123475 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125451 -0.123475 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125451 -0.123475 -0.128096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger3_phalanx3">
    <visual>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.123216 -0.099509 -0.199396"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger3_phalanx4">
    <visual>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098221 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098221 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098221 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098221 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098222 -0.227096"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098222 -0.227097"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098222 -0.227097"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.125145 -0.098222 -0.227098"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.125145 -0.098222 -0.227098"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%203/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="wrist_to_finger3" type="fixed">
    <parent link="wrist_link"/>
    <child link="finger3_phalanx1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="finger3_joint1" type="revolute">
    <parent link="finger3_phalanx1"/>
    <child link="finger3_phalanx2"/>
    <origin xyz="0.124455 0.122475 0.127100" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
  </joint>

  <joint name="finger3_joint2" type="revolute">
    <parent link="finger3_phalanx2"/>
    <child link="finger3_phalanx3"/>
    <origin xyz="-0.002235 -0.023966 0.071300" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger3_joint1" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="finger3_joint3" type="revolute">
    <parent link="finger3_phalanx3"/>
    <child link="finger3_phalanx4"/>
    <origin xyz="0.001929 -0.001287 0.027700" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger3_joint1" multiplier="0.7" offset="0.0"/>
  </joint>

  <link name="finger4_phalanx1">
    <visual>
      <origin xyz="-0.000992 -0.001000 -0.000991"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.000992 -0.001000 -0.000991"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger4_phalanx2">
    <visual>
      <origin xyz="-0.144570 -0.108124 -0.149089"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.144570 -0.108124 -0.149089"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.144570 -0.108125 -0.149090"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.144570 -0.108125 -0.149090"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.144570 -0.108126 -0.149092"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.144570 -0.108126 -0.149092"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c1.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.144570 -0.108126 -0.149092"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.144570 -0.108126 -0.149092"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c1.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger4_phalanx3">
    <visual>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.149471 -0.099323 -0.196691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.149471 -0.099323 -0.196691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b2.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.149471 -0.099323 -0.196691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.149471 -0.099323 -0.196691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b2.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.149471 -0.099324 -0.196692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="finger4_phalanx4">
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224691"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a5.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/a5.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b3.1.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224692"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/b3.2.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224698"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224698"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c3.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.152536 -0.098644 -0.224695"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.152536 -0.098644 -0.224695"/>
      <geometry>
        <mesh filename="file:///home/rahat/exoskeleton/meshes/fingers/finger%204/c4.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="wrist_to_finger4" type="fixed">
    <parent link="wrist_link"/>
    <child link="finger4_phalanx1"/>
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
  </joint>

  <joint name="finger4_joint1" type="revolute">
    <parent link="finger4_phalanx1"/>
    <child link="finger4_phalanx2"/>
    <origin xyz="0.143578 0.107127 0.148100" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
  </joint>

  <joint name="finger4_joint2" type="revolute">
    <parent link="finger4_phalanx2"/>
    <child link="finger4_phalanx3"/>
    <origin xyz="0.004901 -0.008803 0.047600" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger4_joint1" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="finger4_joint3" type="revolute">
    <parent link="finger4_phalanx3"/>
    <child link="finger4_phalanx4"/>
    <origin xyz="0.003065 -0.000679 0.028000" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.6" effort="10" velocity="1"/>
    <mimic joint="finger4_joint1" multiplier="0.7" offset="0.0"/>
  </joint>

</robot>
